:root {
    --blue-linear-color: #2E4E5A;
    --background: #142231;
  }
  
  header {
    background-color: var(--blue-linear-color);
    height: fit-content;
  }
  
  

body{
  background-color: var(--background) ;
}


li{
  display:inline;
  padding-right: 20px;
  }
  ul{

    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    
    flex-wrap: wrap;
    float:left;
    }

.btn{
  justify-content: flex-end;
}
  
  a{
    color:white;
    text-decoration: none;
  }

 .logo{
  width: 30px;
  float : left;
 }